div.menuHolder {
    user-select: none;
    -moz-user-select: none;
    position: relative;
}

@media (min-width: 80em) {
    div.menuHolder svg.menu {
        height: calc(100%);
        width: calc(100%);
    }
}

@media (min-width: 90em) {
    div.menuHolder svg.menu {
        height: calc(100% + 3rem);
        width: calc(100% + 3rem);
    }
}

@media (min-width: 100em) {
    div.menuHolder svg.menu {
        height: calc(100% + 4.5rem);
        width: calc(100% + 4.5rem);
    }
}

@media (max-width: 375px) {
    div.menuHolder svg.menu {
        height: calc(100% - 2rem);
        width: calc(100%);
    }
}
@media (max-width: 320px) {
    div.menuHolder svg.menu {
        height: calc(100% - 5rem);
        width: calc(100%);
    }
}



@media (max-width: 1024px) {
    .row {
        justify-content: center;
    }
}

svg.icons {
    display: none;
}

svg.menu {
    position: absolute;
    overflow: visible;
    transition: 0.2s;
    transition-timing-function: ease-out;
    fill: #FFFFFF;
}

svg.menu.inner {
    transform: scale(0.66) rotate(-10deg);
    opacity: 0;
    visibility: hidden;
}

svg.menu.outer {
    transform: scale(1.5) rotate(10deg);
    opacity: 0;
    visibility: hidden;
}

svg.menu>g>path {
    fill: #FFFFFF;
}

svg.menu>g.sector>text.changer-text {
    fill: #FFFFFF;
}

svg.menu>g>path.changer-color {
    fill: rgb(0, 123, 194);
}

svg.menu>g.sector>path {
    cursor: pointer;
    /*transition: 0.1s;*/
}

g.sector {
    stroke: none;

    stroke-width: 1;
}

g.sector>path {
    stroke: url('#myGradient')
}

#midc {
    stroke: url('#myGradient')
}


g:hover {}



svg.menu>g.sector>text,
svg.menu>g.sector>use {
    position: absolute;
    top: 12px;
    cursor: pointer;
    fill: black;

    /*text-shadow: 1px 1px 0 #000000A0;*/
}

svg.menu>g.sector:hover>text,
svg.menu>g.sector:hover>use {
    position: absolute;
    top: 12px;
    cursor: pointer;
    fill: white;

}

svg.menu>g.sector:hover>text,
svg.menu>g.sector:hover>use {
    position: absolute;
    top: 12px;
    cursor: pointer;
    fill: white;

}


svg.menu>g.sector:hover>path {
    fill: url('#myGradient')
}

svg.menu>g.sector.selected>path {
    /*fill: #F9A602D0;*/
    /*fill: #009900D0 !important;*/
    /* fill: rgb(0, 123, 194)  !important; */
}

/* .fillBlue {
    fill: white
} */

svg.menu {
    fill: url('#myGradient')
}


svg.menu>g.center:hover>circle {
    fill: url('#myGradient')
}

.Testc {
    fill: url('#myGradient')
}

svg.menu>g.center>circle {
    cursor: pointer;
}

svg.menu>g.center>circle>text {
    cursor: pointer;
    fill: #FFFFFF;
}

svg.menu>g.center>text,

svg.menu>g.center:hover>text,
svg.menu>g.center>use {
    cursor: pointer;
    fill: white;
}